<!DOCTYPE html>
<html>
<div>
	<h1 class = "col-md-6 mx-auto p-2" style="text-align: center;">Product Stock</h1>
	
</div>
	<div>
    <table class="col-md-6 mx-auto table table-primary table-striped table-hover">
	<thead>
		<tr>
		<th><a class = "btn btn-primary" (click)="bindOrder('productId')">Product ID</a></th>
    <th><a class = "btn btn-warning" (click)="bindOrder('productName')">Produt Name</a></th>
    <th><a class = "btn btn-danger" (click)="bindOrder('productModel')">Product Model</a></th>
    <th><a class = "btn btn-success" (click)="bindOrder('brand')">Product Brand</a></th>
    <th><a class = "btn btn-primary" (click)="bindOrder('stock')">Product Stock</a></th>
    <th><a class = "btn btn-secondary" (click)="bindOrder('sellerPrice')">Selling price</a></th>
		</tr>
    </thead>
    
    <tr *ngFor="let prod of products | sortBy: field">
      <td>{{prod.productId}}</td>
      <td>{{prod.productName | titlecase}}</td>
      <td>{{prod.productModel | titlecase}}</td>
      <td>{{prod.brand | titlecase}}</td>
      <td>{{prod.stock}}</td>
      <td>{{prod.sellerPrice | currency:'INR'}}</td>
      <td><a class="btn btn-danger text-white" routerLink="SalesProduct/{{prod.productId}}">Consumed By</a></td>
      <td><a class="btn btn-warning text-white" routerLink="PurchaseProduct/{{prod.productId}}">Supplied By</a></td>
    </tr>
	</table>
	</div>

</html>

