<div>
  <h2 class = "col-md-6 mx-auto p-2" style="text-align: center;">Supplied by</h2>
</div>
<table class="col-md-6 mx-auto table table-primary table-striped table-hover">
  <tr>
    <th><a class = "btn btn-primary" (click)="bindOrder('dateOfTxn')">Date Of Txn</a></th>
    <th><a class = "btn btn-primary" (click)="bindOrder('productId')">Product ID</a></th>
  
    <th><a class = "btn btn-dark" (click)="bindOrder('comapanyName')">Vendor</a></th>
    <th><a class = "btn btn-secondary" (click)="bindOrder('qty')">qty</a></th>
    <th><a class = "btn btn-primary" (click)="bindOrder('contact')">Contact No</a></th>

  </tr>
  
  <tr *ngFor="let inv of txns | orderby:field">
    <td>{{inv.dateOfTxn}}</td>
    <td>{{inv.prod.productId}}</td>

    <td>{{inv.vendor.companyName}}</td>
    <td>{{inv.qty}}</td>
    <td>{{inv.vendor.contact}}</td>
    
  
  </tr>
</table>
